#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    color: rgb(221, 246, 107);
    text-shadow: 2px 2px 3px rgba(85, 26, 139, 0.3);
    width: 30vw;
    padding: 1.5em;
    margin-top: 5vh;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    line-height: 2rem;
    border: 2px solid purple;
    border-radius: 2%;
}

#about h1 {
    text-decoration: underline;
}

#about h3 {
    text-decoration: underline;
}
