#myAccount {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    color: rgb(221, 246, 107);
    text-shadow: 2px 2px 3px #cc99ff;
    line-height: 2.5rem;
    padding: 1em 1em 1em 1em;
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid purple;
    border-radius: 3%;
}

#myAccount button {
    border-radius: 5px;
    background-color:black;
    color: red;
    padding: .5em;
    font-size: .9em;
    font-weight: bolder;
    text-shadow: 2px 2px 3px rgba(85, 26, 139, 0.3);
}

#myAccount h4 {
    font-size: 1.2em;
    margin: 0 auto;
}

#edit-user-form  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#edit-user-form button {
    margin-top: 1em;
}

#edit-user-form input {
    background-color: #99ccff;
    color: #551A8B;
    font-size: larger;
    text-shadow: 2px 2px 3px rgba(85, 26, 139, 0.3);
    border-radius: 5px;
}

#loginForm {
    display: flex;
    margin-top: 5vh;
    align-items: center;
    width: 30vw;
    padding: 1em 1em 1em 1em;
    border-radius: 15px 15px 0 0;
    border: 2px solid purple;
    color: rgb(221, 246, 107);
    text-shadow: 2px 2px 3px #cc99ff;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 1.5em;
  }

#loginForm button {
    border-radius: 5px;
    background-color:black;
    color: red;
    margin-top: 1.2em;
    padding: 0 .5em 0 .5em;
    font-size: .8em;
    font-weight: bolder;
    text-shadow: 2px 2px 3px rgba(85, 26, 139, 0.3);
}

#loginForm input {
    background-color: #99ccff;
    color: #551A8B;
    font-size: large;
    text-shadow: 2px 2px 3px rgba(85, 26, 139, 0.3);
    border-radius: 5px;
}

#add-user-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid purple;
    border-radius: 0 0 5% 5%;
    line-height: 2.5rem;
    color: rgb(221, 246, 107);
    text-shadow: 2px 2px 3px #cc99ff;
}

#add-user-form button {
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
    background-color:black;
    color: red;
    padding: 0 .5em 0 .5em;
    font-size: 1.2em;
    font-weight: bolder;
    text-shadow: 2px 2px 3px rgba(85, 26, 139, 0.3);
}

#add-user-form input {
    background-color: #99ccff;
    color: #551A8B;
    font-size: large;
    text-shadow: 2px 2px 3px rgba(85, 26, 139, 0.3);
    border-radius: 5px;
}

