#navbarContainer {
 display: flex;
 justify-content: center;
 align-items: center;
 position: fixed;
 align-items: center;
 height: 5vh;
 width: 100vw;
 margin-top: 0;
 padding-left: 3rem;
 background-image: linear-gradient(#cc99ff, #99ccff);
}

#navbarContainerEl {
    width: 98vw;
    font-size: 1.3em;
}

#navbarContainerEl a:hover {
   text-decoration: underline;
   color: #ffd9b3;
}