#single-product {
    display: flex;
    justify-content: center;
}

#single-product-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    width: 100vw;
    color: rgb(85, 26, 139);
}

#single-product-info p {
    width: 28vw;
}


#productContainer {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    padding: 1em 0 0 0;
    width: 30vw;
    justify-content: center;
    border: 2px solid purple;
    border-radius: 2%;
    overflow: hidden;
}

#productBottom {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5em;
    width: 14vw;
    padding: 0 2em 0 2em;
    overflow: visible;
}

#productName {
    margin: 2em 0 0 0;
}

#productPrice {
    margin: .5em 0 0 0;
}

.quantityOutput {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-weight: bolder;
    text-shadow: 2px 2px 3px rgba(85, 26, 139, 0.3);
}

#colorContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    align-items: center;
    margin-top: 2em;
    padding: 0 2em 0 2em;
    background-color: rgb(255, 217, 179);
}

#colorContainer h1 {
    margin: .3em;
    text-align: center;
    line-height: 1.5em;
}

#colorContainer p {
    line-height: 1.5em;
}

#priceColorContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    align-items: center;
    padding: 0 0 1em 0;
    width: 30vw;
    background-color: #99ccff;
}

#priceColorContainer button {
    background-color:black;
    color: red;
    border-radius: 5px;
    padding: .5em;
    font-weight: bolder;
    text-shadow: 2px 2px 3px rgba(85, 26, 139, 0.3);
}


