body {
  font-family: sans-serif;
  background-image: url(https://i.pcmag.com/imagery/articles/00uIkjCE1t4ZULXF2djBOON-18..v1595619996.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}
